<div class="w3-container w3-center w3-card" style="width:400px;margin:auto;margin-top:20px;">
<h1>Summary</h1>
    <p>Your order number is: <%= @order.id %></p>
<br>

    <table class="w3-table-all w3-border ">
        <% @total = 0 %>
        <% @orderitems.each do |id,quantity| %>
        <tr>
            <% product = Orderitem.find_by_id(id) %>
            
            <td><%= product.title %></td>
            <td><%= product.quantity %></td>
            <td><%=number_to_currency(product.price, :unit => "€")%></td> 
            <td><%= number_to_currency(product.quantity * product.price, :unit => "€") %></td>
        </tr>
            
    <% timx = (product.quantity * product.price)%>
    <% @total += timx %>
    <% end %>
    </table>
    <p></p>Order Total: &euro; <%= @total %></p>
<%=render 'orders/payButton'%>

    
</div>