<p id="notice"><%= notice %></p>
<% if @cart.empty? %>
    <h1 class="w3-center"> Your cart is empty :(</h1>
<%end%>
<div class="w3-container">
    <table class="w3-table-all w3-card-4 w3-hoverable w3-border myfont">
        <% total = 0 %>
        <% @cart.each do |id, quantity| %>
            <% product = Product.find_by_id(id) %>
            <tr>
                <td>
                    <div>
                        <%= link_to (image_tag product.img_url, :style =>"height:40px"), product %>
                    </div>
                </td>
                <td><%= link_to product.title, product %></td>
                
                <td><a href="/cart/remove/<%= product.id %>">Remove From Cart</a></td>

                <td><%= number_to_currency(product.price, :unit =>"€") %></td>

                <td><a href="/increase/<%= product.id %>"><i class="fa fa-chevron-up" style="font-size:25px"></i></a></td>
	
                <td><%= quantity %></td>

                <td><a href="/decrease/<%= product.id %>"><i class="fa fa-chevron-down" style="font-size:25px"></i></a></td>

                <td><%= number_to_currency(quantity * product.price, :unit =>"€") %></td>
                
            </tr>
            <tr>
                <% total += quantity * product.price %>
            </tr>
        <% end %>
    </table>
    <% unless @cart.empty? %>
        <table class="w3-table-all w3-card-4 w3-hoverable w3-border">
        <p style="float:right;">Grand Total: <%= number_to_currency(total, :unit => "€") %></p>
    </table>
    <%end%>
        <a href="/products" class="w3-third w3-button w3-black w3-round-large">Continue Shopping</a>
        <% if !@cart.empty? %>
            <a href="/checkout" class="w3-third w3-button w3-black w3-round-large">Checkout</a>
            <a href="/cart/clear/" class="w3-third w3-button w3-black w3-round-large">Clear Cart</a>
        <%end%>
</div>
