<p id="notice"><%= notice %></p>
  <% @products.each do |product| %>
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <h1><%= product.title %></h1>
        <%= link_to (image_tag product.img_url, :class => "w3-hover-opacity", :style => "width:100%"), product %>
        <div class="w3-container w3-white">
          <p><%= truncate(product.description, :length => 80) %></p>
          <p>Price <%= number_to_currency(product.price, :unit => "€") %>
          <br>
          Category: <%= product.category %>
          <br>
          Brand: <%= product.brand %></p>
          <p>
          <%= link_to 'More Info',  product, :class => "w3-button w3-black w3-round-large", :role => "button" %>

          <a href="/cart/<%= product.id %>" class="w3-button w3-black w3-round-large">Add To Cart</a>

          <% if session[:login] == 1 %> 
            <%= link_to 'Edit',  edit_product_path(product), :class => "w3-button w3-black w3-round-large", :role => "button" %>
            <%= link_to 'Destroy',  product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "w3-button w3-black w3-round-large", :role => "button" %>

          <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
