<div class="w3-bar w3-light-grey w3-border w3-padding">
    <%= link_to 'Home', '/', :class =>"w3-bar-item w3-button w3-mobile"%>
    <%= link_to 'About', about_path, :class =>"w3-bar-item w3-button w3-mobile"%>
    <%= link_to 'Products', '/products', :class =>"w3-bar-item w3-button w3-mobile"%>
    <%= link_to 'Cart', '/cart', :class =>"w3-bar-item w3-button w3-mobile w3-right"%>
    <%=render 'layouts/search', :class =>"w3-bar-item w3-right"%>
</div>