<div class="w3-container w3-center">
    <h1 class="w3-center">Popular</h1>
    <br>
    <% @products.limit(4).order(:id).each do |product| %>
      <tr>
        <td>
          <div class=" w3-quarter w3-border w3-container w3-white w3-card w3-center  w3-margin-bottom" style="min-height:510px;">
            <h1><%= product.title %></h1>
            <div style="min-height:280px;">
            <%= link_to (image_tag product.img_url, :class => "w3-hover-opacity", :style => "width:100%"), product %>
            </div>
              <p>Price <%= number_to_currency(product.price, :unit => "€") %>
              <br>
              Category: <%= product.category %>
              <br>
              Brand: <%= product.brand %></p>

          <p>
          <%= link_to 'More Info',  product, :class => "w3-button w3-black w3-round-large", :role => "button" %>
        </div>
        </td>
      </tr>
    <% end %>
</div>
    
