<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-light-grey  w3-animate-left w3-card" style="z-index:3;width:300px; position: relative;" id="mySidebar">
  <br>
  
  
  
  
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
  </div>
  
  
  
  <div class="w3-container w3-cell-middle	w3-center" style="margin-bottom:120px;"> 
  <% if user_signed_in? %>
    <h3> Hi <%= current_user.fName %></h3>
    <%= link_to 'Profile', '/profile/', :class =>"w3-button w3-black w3-round-large"  %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :class =>"w3-button w3-black w3-round-large"  %>
  <% else %>
    <%= link_to 'Register', new_user_registration_path, :class =>"w3-button w3-black w3-round-large w3-mobile"%>
    <%= link_to 'Sign in', new_user_session_path, :class =>"w3-button w3-black w3-round-large"%>
  <% end %>
  </div>
  

  
  
  <div class=" w3-large w3-text-grey" style="font-weight:bold; margin-bottom:50%;">
    <a href="/category/Shoes" class="w3-bar-item w3-button w3-block w3-panel w3-card" style="height:50p; padding:13px;">SHOES</a>
    <a href="/category/Tees" class="w3-bar-item w3-button w3-block w3-panel w3-card"style="height:50p; padding:13px;">TEES</a>
    <a href="/category/Boards" class="w3-bar-item w3-button w3-block w3-panel w3-card"style="height:50p; padding:13px;">BOARDS</a>
  </div>
  
  
  
  
  
  <div class="w3-container w3-center w3-cell-bottom" style="position: absolute; bottom: 0;" > 
    <% if session[:login] == 1 %>
      <%= link_to 'Admin Logout', logout_path, :class =>"w3-bar-item w3-button w3-mobile"%>
    <% else %>
      <%= link_to 'Admin Login', login_path, :class =>"w3-bar-item w3-button w3-mobile"%>
    <% end %>
  </div>
</nav>

